.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
classes/
/server/out/production
/server/src/main/resources/*
server/src/main/resources/static/vendor.bundle.js
server/src/main/resources/static/main.bundle.js.map
server/src/main/resources/static/main.bundle.js
server/src/main/resources/static/inline.bundle.js.map
server/out/production/resources/static/vendor.bundle.js
server/out/production/resources/static/main.bundle.js.map
server/out/production/resources/static/main.bundle.js
server/out/production/resources/static/inline.bundle.js.map
